<header id="hero">
  <div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}">
    <div class="header-image-container">
        <img src="{{site.data.settings.images.client_headshot_path }}" alt="{{site.data.settings.client.company}}" class="header-image" />
    </div>
    <div class="header-text">
      BUD AND KRISTIN GRAGG | To Serve as Loyal Real Estate Professionals, Leaving a Legacy of Integrity, REAL Relationships and Positively Outrageous Customer Service, WHILE HAVING FUN!
    </div>
  </div>

</header>
