{% if site.data.settings.lender.show_section == true %}
<div class="lender">

	<h5>{{site.data.settings.lender.header_text}}</h5>
	<hr>
	<div class="lender-info">
		{% if site.data.settings.lender.headshot_path != null %}
		<div class="lender-headshot">
			<img src="{{site.data.settings.lender.headshot_path}}"/>
		</div>
		{% endif %}
		<p>
		{{site.data.settings.lender.name}}<br>
		{% if site.data.settings.lender.license_number != null %}
		{{site.data.settings.lender.license_number}}<br>
		{% endif %}
		{% if site.data.settings.lender.company != null %}
		{{site.data.settings.lender.company}}<br>
		{% endif %}
		{% if site.data.settings.lender.company_license_number != null %}
		{{site.data.settings.lender.company_license_number}}<br>
		{% endif %}
		{% if site.data.settings.lender.phone != null %}
		<a href="tel:1-{{site.data.settings.lender.phone}}">{{site.data.settings.lender.phone}}</a><br>
		{% endif %}
		275 E Rivulon Blvd 200, Gilbert, AZ 85297<br>
		{% if site.data.settings.lender.email != null %}
		<a href="mailto:{{site.data.settings.lender.email}}">{{site.data.settings.lender.email}}</a><br>
		{% endif %}
		{% if site.data.settings.lender.url != null %}
		<a href="{{site.data.settings.lender.url}}">{{site.data.settings.lender.url | remove: 'http://' | remove: 'https://'}}</a>
		{% endif %}
		<br>
		
 <a href="https://start.foamortgage.com/267019/"><h1>Apply now</h1></a><br>
 <a href="https://www.foamortgage.com/loan-officer/tami-armijo-267019/#contact-us-anchor"><h1>Contact me</h1></a><br>
 <a href="Tami Armijo, Mortgage Advisor - NMLS 267019"><h1>Facebook Business</h1></a><br>
 <a href="https://www.linkedin.com/in/tami-armijo"><h1>Linked In</h1></a>
	</p>
	</div>
	<div class="lender-logo">
		<img src="{{site.data.settings.lender.logo_path}}"/><br>
	</div>
</div>
{% endif %}
